<h1>Where is Waldo</h1>
<p>Time : <span id="time-counter">0</span> <button type="button" id="new-game" class="btn btn-primary">New Game</button>
<p>
<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <h4>High Scores</h4>
    </div>
    <div class="col-sm-10" id="img-container">
      <img id = "waldo-img" src=<%=image_url("waldo.jpg")%> >
    </div>
  </div>
</div>